 {% extends 'alvan/layout.html' %}
{% load static %}
 {% block content %}
 <section class="bg-light page-section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="section-heading text-uppercase mx-auto" style="font-family: Courier">altar servers</h1>
            <p class="text-center text-capitalize text-muted">MOTTO: nearer to the altar, nearer to God!!!</p>
        </div>
      </div>
        <div class="row">
            <div class="col-6">
                <h2>Altar Server's Prayer</h2>
                <p>Open my mouth, O Lord, to bless your Holy Name.

                Cleanse my heart from all evil and distracting thoughts.

            Enlighten my understanding and inflame my will that I may serve more worthily at your holy altar.

            O Mary, Mother of Christ the High Priest, obtain for me the most important grace of knowing my vocation in life.

Grant me a true spirit of faith and humble obedience so that I may ever behold the priest as a representative of God
                    and willing follow him in the Way, the Truth, and the Life of Christ.
                    Amen.       </p>
            </div>
            <div class="col-6">
                <img src="{% static 'img/host.jpg' %}" class="img-rounded" alt="Responsive image">
            </div>

            <div class="col-6">
                <h2>A Server's Prayer</h2>
                <p>Loving Father, creator of the universe,
                you call your people to worship,
                to be with you and with one another at Mass.
                I thank you for having called me
                to assist others in their prayer to you.
                May I be worthy of the trust placed in me and through my example and service bring others closer to you.
                I ask this in the name of Jesus Christ,
                who is Lord for ever and ever. Amen.    </p>
            </div>
            <div class="col-6">
                <h2>Prayer to St. John Berchmans, Patron of Altar Boys</h2>
                <p>Dear St. John, you died at a very young age, but in that short time you learned to live an exemplary life as a member of the Society of Jesus.

                Directed by your Guardian Angel, whom you confidently invoked, you learned to be a most humble server at the Holy Sacrifice of the Mass.

                Help altar boys imitate you in their service at Eucharistic celebrations as well as in their conduct with others. Amen.</p>
            </div>
            <div class="col-6">
                <h2>Before Mass</h2>
                <p>Oh Jesus, my King and Lord, by the grace of the heavenly Father and the power of the Holy Spirit,
                    guide me in all righteousness as I serve You today at the Altar so I may be always worthy of Your presence.
                    If I happen to make an error, may it be a lesson so my service will
                    be perfect tomorrow. Jesus, I love you with all my heart. Amen.</p>
            </div>
             <div class="col-6">
                <h2>After Mass</h2>
                 <p>Lord Jesus, thank you for the opportunity to serve You during the Holy Mass.
                     In Your Sacred Presence, my heart is filled with joy and peace.
                     May Your Spirit always guide me so I may grow in Your love by the grace of the Heavenly Father.
                     Amen.</p>
            </div>
        </div>
        <hr>
        <h3 class="display-4 text-center text-uppercase"> altar boys</h3>
        <hr>
        <h4 class="text-capitalize text-center">executives</h4>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="" alt="">
            <h4>Rev. Fr. Gilbert Alaribe</h4>
            <p class="text-muted">Chaplain</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="" alt="">
            <h4>Rev. Fr. Gilbert Alaribe</h4>
            <p class="text-muted">Chaplain</p>
          </div>
        </div>
         <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="" alt="">
            <h4>Rev. Fr. Gilbert Alaribe</h4>
            <p class="text-muted">Chaplain</p>
          </div>
        </div>
      </div>
        <div class="row">
            <div class="col-12">
                <p class="text-capitalize text-center"> members</p>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
            </div>

        </div>
        <br>
      <hr>
        <h3 class="display-4 text-center text-uppercase"> altar girls</h3>
        <hr>
        <h4 class="text-capitalize text-center">executives</h4>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="" alt="">
            <h4>Rev. Fr. Gilbert Alaribe</h4>
            <p class="text-muted">Chaplain</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="" alt="">
            <h4>Rev. Fr. Gilbert Alaribe</h4>
            <p class="text-muted">Chaplain</p>
          </div>
        </div>
         <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="" alt="">
            <h4>Rev. Fr. Gilbert Alaribe</h4>
            <p class="text-muted">Chaplain</p>
          </div>
        </div>
      </div>
        <div class="row">
            <div class="col-12">
                <p class="text-capitalize text-center"> members</p>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
            </div>

        </div>
        <br>

</section>
 {% endblock %}

