{% extends 'alvan/layout.html' %}
{% block content %}
    <br>
    <br>
    <div class="container">
         <hr class="my-4">
        <h3 class=" text-center text-capitalize" style="font-family: -apple-system">announcements</h3>
         <hr class="my-4">
        <ul class="list-group ">
        {% for info in form %}
            <li class="list-group-item" ><a href="{{ info.get_announcement_url }}">announcement for {{ info.date  }}</a></li>
        {% endfor %}
        </ul>
    </div>


{% endblock %}
<br><br>
