{% extends 'alvan/layout.html' %}
{% block content %}
    <br>
    <br>
    <div class="container">
        <h2 class=" text-center text-capitalize">baptism search</h2>
        <hr class="my-4">
        <div class="form-inline d-block">
            <form  method="get" action="/baptism_search">
                <div>
                    <input name="q"  class="form-control block" type="text" placeholder="name/baptismal name">
                    <input type="submit" value="search" class="form-control btn btn-outline-success">
                </div>
            </form>
        </div>
        <hr>
        <div class="container">
            <ul>
            {% if object_list %}
            {% for info in object_list %}
                <li><a href="{{ info.get_baptism_url }}">{{info.name}}</a> {{ info.date_of_baptism }}</li>
            {% endfor %}
            {% else %}
            <p class="text-capitalize text-center">search doesn't exist</p>
            </ul>
            {% endif %}
        </div>
    </div>

{% endblock %}
<br>