 {% extends 'alvan/layout.html' %}
{% load static %}
 {% block content %}
 <section class="bg-light page-section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="section-heading text-uppercase mx-auto" style="font-family: Courier">block rosary</h1>
            <p class="text-center text-capitalize text-muted">MOTTO: Ave, Maria</p>
        </div>
      </div>
        <div class="text-center">
            <p class="text-muted">Block Rosary Crusade is a movement, a Pious Society, or an apostolate in the Catholic Church that lives and propagates the urgent message of our Lady of Fatima.  It is a grassroots association that embraces Catholic Priest and lay people of the type specifically sanctioned by the New Code of Canon law.
                The Blessed Virgin Mary, mother of God in a public apparition visited mankind once again from heaven with a message of concern;
                a practical plan for world peace, a promise of Heaven.
                It is Heaven interventions to save us from persecution, martyrdom, war, enslavement or annihilation.
                Above all it’s a way to save our souls from hell.  It is meant for you and I and for all.
                The blessed Virgin Mary, the mother of God and our loving mother (who does not want God our Father whom we have so much offended be offended anymore,
                and who does not want us Her Children to face the consequences of our obstinacy in sin) appeared six times to three shepherd children of Fatima consecutively from May 13th – October 13th 1917 she came with a message from God to every man, woman and child of our time.  Our lady of Fatima promised that the whole world  be in peace,
                and that many should would go to Heaven if Her requests were heed and adhered to.</p>
        </div>
       <div class="row container text-center">
           <div class="col">
               <img src="{% static 'img/virgin mary.jpg' %}"
           </div>
           <div class="col">
               <h3>HYMN:  (All Kneel)</h3>
           </div>
           <div class="col-12">
               <p >OPENING PRAYER</p>
               <p class="text-muted">In the name of the Father, and of the Son and of the Holy Spirit. Amen.</p>
           </div>
           <div class="col-12">
               <p>REPARATION PRAYER:</p>
               <p class="text-muted">Oh Jesus, it is for the love of you, for the conversion of sinners, and
                   in reparation for the offenses committed against the Immaculate Heart of Mary,
                   that I (We) offer you these prayers of the Rosary.
               </p class="text-muted">
               <p class="text-muted">V: Come O Holy Spirit and fill the hearts of the faithful,</p>
               <p class="text-muted"> R: And en-kindle in them the fire of your love.</p>
               <p class="text-muted"> V: Send forth your Spirit, and they shall be created,</p>
               <p class="text-muted">R: And thou shall renew the face of the earth.</p>
           </div>
           <div class="col-12">
               <p>LET US PRAY</p>
               <p class="text-muted">O God, who by the light of the Holy Spirit, did instruct the hearts of
                   the faithful, grant that in the same Spirit we may be truly wise, and
                   ever rejoice in His consolation through Christ our Lord. Amen.</p>
               <p class="text-muted">V: You, O Lord, will open my lips</p>
               <p class="text-muted">R: And my tongue shall announce your praise</p>
               <p class="text-muted">V: Incline unto my aid, O God</p>
               <p class="text-muted">R: O Lord, make haste to help me</p>
               <p class="text-muted">V: Glory be to the Father, to the Son and to the Holy Spirit</p>
               <p class="text-muted">R: As it was in the beginning, is now and ever shall be world without end. Amen.</p>
           </div>
           <div class="col-12">
               <p>APOSTLES CREED</p>
               <p class="text-muted">I BELIEVE IN GOD, the Father Almighty, Creator of heaven and earth. And in Jesus Christ, His only Son our Lord; who was conceived by the Holy Spirit, born of the Virgin Mary, suffered under Pontius Pilate, was crucified, dead and was buried; He descended into hell; the third day He rose again from the dead: He ascended into heaven; and is seated at the right hand of God the Father Almighty; from thence He shall come to judge the living and the dead.</p>
               <p class="text-muted">I believe in the Holy Spirit; the Holy Catholic Church; the Communion of Saints; the forgiveness of sins; the resurrection of the body; and life everlasting. Amen.</p>

           </div>
           <div class="col-12">
               <p>OUR FATHER</p>
               <p class="text-muted">Our Father, who art in heaven, hallowed be thy name, thy kingdom come;
                   thy will be done on earth it is in heaven. Give us this day our daily bread,
                   and forgive us our trespasses as we forgive those who trespass against us, and
                   lead us not into temptation, but deliver us from evil. Amen.</p>


           </div>
           <div class="col-12">
               <p >HAIL MARY (Three times)</p>
               <p class="text-muted">Hail Mary, full of grace, the Lord is with you, blessed are you among women and blessed is the fruit of your womb Jesus. Holy Mary,
                   mother of God, pray for us sinners, now and at the hour of our death. Amen.</p>

           </div>
           <div class="col-12">
               <p>GLORY BE</p>
               <p class="text-muted">V: Glory be to the Father and to the Son and to the Holy Spirit,</p>
               <p class="text-muted">R: As it was in the beginning is now and ever shall be world without end. Amen.</p>
               <p class="text-muted">O MY JESUS, Forgive us our sins, save us from the fire of hell, lead all souls to heaven, especially those who are in most need of your mercy!</p>
               <p class="text-muted">V: Jesus, have mercy on us</p>
               <p class="text-muted">Virgin Mary, help us</p>
               <p class="text-muted">V: May the souls of all the faithful departed</p>
               <p class="text-muted">R: Through the mercy of God rest in peace.</p>
               <p class="text-muted">(This is an cycle repeated after each decade of the Rosary)
                    Thereafter, announce the appropriate mystery for the day.</p>
           </div>
           <div class="col-12">
               <hr class="my-4">
               <h1 style="font-family: -apple-system">THE TWENTY MYSTERIES OF THE ROSARY</h1>
               <br>
               <hr class="my-4">
               <h5 style="font-family: monospace, monospace">THE FIVE JOYFUL MYSTERIES: (To be said on Mondays and Saturdays)</h5>
               <hr class="my-4">
               <p>1. THE ANNUNCIATION</p>
               <p class="text-muted">Meditation: Contemplate on this mystery how the Angel Gabriel saluted Our Blessed Lady with the title, “Full of Grace” and declared to her the incarnation of Our Lord and Savior Jesus Christ. (Luke 1:26-38)</p>
               <p class="text-muted">V: We pray O Lord</p>
               <p class="text-muted">R: For the Grace of Humility</p>
               <p >2. THE VISITATION:</p>
               <p class="text-muted">Meditation: Contemplate on this mystery how the Blessed Virgin Mary being told by the Angel that her cousin Elizabeth had conceived, went in haste into the Hill country of Judah to visit her (bearing Her Divine Son within her womb) and remained with her for three months. (Luke 1:39-80)</p>
               <p class="text-muted">V: We pray O Lord</p>
               <p class="text-muted">R: For the grace of Fraternal Charity.</p>
               <p>3. THE BIRTH OF OUR LORD JESUS CHRIST</p>
               <p class="text-muted">Meditation: Contemplate on this mystery how the Blessed Virgin Mary, when the time came for her to deliver came, brought forth our Redeemer Jesus Christ at midnight, and laid Him in a manger because there was no room in the inn at Bethlehem. (Matt. 1:18-25)</p>
               <p class="text-muted">V: We pray O Lord</p>
               <p class="text-muted">R: For the grace of spiritual poverty.</p>
               <p>4. THE PRESENTATION OF OUR BLESSED LORD IN THE TEMPLE:</p>
               <p class="text-muted">Meditation: Contemplate on this mystery how the Blessed Virgin Mary on the day of her purification presented the child Jesus in the Temple, where holy Simeon gave thanks to God and with great devotion received Jesus in his arms. (Luke 2:22-38)</p>
               <p class="text-muted">V: We pray O Lord</p>
               <p class="text-muted">R: For the grace of Obedience</p>
               <p>5. THE FINDING OF THE CHILD JESUS IN THE TEMPLE:</p>
               <p class="text-muted">Meditation: Contemplate on this mystery how the Blessed Virgin Mary, having lost without any fault of hers; her beloved Son in Jerusalem, sought Him for the space of three days in the Temple in the midst of doctors, discussing with them, at that tender age of twelve. (Luke 2:41-52)</p>
               <p class="text-muted">V: We pray O Lord</p>
               <p class="text-muted">R: For the grace of loving Jesus Christ.</p>

           </div>
           <div class="col-12">
               <hr class="my-4">
               <h5 style="font-family: monospace, monospace">THE LUMINOUS MYSTERIES: (To be said on Thursdays)</h5>
               <hr class="my-4">
               <p>1. THE BAPTISM OF OUR LORD:</p>
               <p class="text-muted">Meditation: Contemplate on this mystery how Our Lord Jesus was baptized in the River Jordan. The Holy Spirit descended like a dove on Him. And a voice came from heaven, “You are my beloved; and within you I am pleased” (Mark 1:10)</p>
               <p class="text-muted">V: We pray O Lord</p>
               <p class="text-muted">R: For the grace to do the will of God</p>
               <p>2. THE MANIFESTATION OF JESUS</p>
               <p class="text-muted">Meditation: Contemplate on this mystery how Our Lord Jesus changed water into wine at the wedding in Cana, the first of His signs that revealed His glory; and His disciples believe in Him. (John 2:11)</p>
               <p class="text-muted">V: We pray O Lord</p>
               <p class="text-muted">R: For the grace to trust in Mary’s intercession</p>
               <p>3. THE PROCLAMATION OF THE KINGDOM:</p>
               <p class="text-muted">Meditation: Contemplate on this mystery how Our Lord Jesus Christ proclaims the kingdom of God and calls us to conversion. (Mark 1:15)</p>
               <p class="text-muted">V: We pray O Lord</p>
               <p class="text-muted">R: For the grace to accept the Good News and Repent of our sins.</p>
               <p>4. THE TRANSFIGURATION:</p>
               <p class="text-muted">Meditation: Contemplate on this mystery how Our Lord Jesus Christ was transfigured before the Apostles, and His face shone like the sun, and His clothes became dazzling white. (Matt. 17:2)</p>
               <p class="text-muted">V: We pray O Lord</p>
               <p class="text-muted">R: For the grace to accept the glory of the Cross.</p>
               <p>5. THE INSTITUTION OF THE EUCHARIST</p>
               <p class="text-muted">Meditation: Contemplate on this mystery how Our Lord Jesus Christ took bread, gave thanks, broke it and gave it to His Apostles, saying, “This is my body which is given for you. Do this in remembrance of me”. (Luke 22:19)</p>
               <p class="text-muted">V: We pray O Lord</p>
               <p class="text-muted">R: For the grace to accept Jesus the Bread of Life.</p>


           </div>
           <div class="col-12">
               <hr class="my-4">
               <h5 style="font-family: monospace, monospace">THE FIVE SORROWFUL MYSTERIES: (To be said on Tuesdays and Fridays)</h5>
               <hr class="my-4">
               <p>1. THE AGONY IN THE GARDEN:</p>
               <p class="text-muted">Meditation: Contemplate on this mystery how Our Lord Jesus Christ afflicted for us in the Garden of Gethsemane that His body was bathed in a sweat of blood which ran down in great drops upon the ground. (Matt. 26:26-46).</p>
               <p class="text-muted">V: We pray O Lord</p>
               <p class="text-muted">R: For the grace of leaving everything in God’s hand.</p>
               <p>2. THE SCOURGING OF OUR BLESSED SAVIOR AT THE PILLAR:</p>
               <p class="text-muted">Meditation: Contemplate on this mystery how Our Lord Jesus Christ being delivered up by Pilate to be fury of the Jews, was cruelly scourged at the pillar. (Mark 15:15)</p>
               <p class="text-muted">V: We pray O Lord</p>
               <p class="text-muted">R: For the grace of purity.</p>
               <p>3. THE CROWNING WITH THORNS:</p>
               <p class="text-muted">Meditation: Contemplate on this mystery how those cruel ministers of Satan plaited a crown of sharp thorns and most cruelly pressed it on the head of Our Lord Jesus Christ. (John 19:1-3)</p>
               <p class="text-muted">V: We pray O Lord</p>
               <p class="text-muted">R: For the grace of moral courage.</p>
               <p>4. THE CARRYING OF THE CROSS:</p>
               <p class="text-muted">Meditation: Contemplate on this mystery how Our Lord Jesus Christ being sentenced to die, bore with the most amazing patience the cross which was laid upon him for His greater torment and ignominy. (John 19:17)</p>
               <p class="text-muted">V: We pray O Lord</p>
               <p class="text-muted">R: For the grace of patience in difficulties.</p>
               <p>5. THE CRUCIFIXION AND DEATH OF OUR LORD JESUS CHRIST:</p>
               <p class="text-muted">Meditation: Contemplate on this mystery how Our Lord Jesus Christ having come to the Mount of Calvary was stripped of His clothes, hands and feet were most cruelly nailed to the cross on which He died in the presence of His afflicted mother. (Luke 23:26-38)</p>
               <p class="text-muted">V: We pray O Lord</p>
               <p class="text-muted">R: For the grace of true contrition for our sins.</p>
           </div>
           <div class="col-12">
               <hr class="my-4">
               <h5 style="font-family: monospace, monospace">THE FIVE GLORIOUS MYSTERIES: (To be said on Wednesdays and Sundays)</h5>
               <hr class="my-4">
               <p>1. THE RESURRECTION:</p>
               <p class="text-muted">Meditation: Contemplate on this mystery how Our Lord Jesus Christ triumphing gloriously over death, rose again on the third day, immortal and impossible. (Matt. 28:1-10)</p>
               <p class="text-muted">V: We pray O Lord</p>
               <p class="text-muted">R: For the grace of faith.</p>
               <p>2. THE ASCENSION OF CHRIST INTO HEAVEN:</p>
               <p class="text-muted">Meditation: Contemplate on this mystery how Our Lord Jesus Christ, forty days after His resurrection ascended into heaven attended by Angels in the sight, and to the great admiration of His most Holy Mother and His Apostles and Disciples. (Act 1:9).</p>
               <p class="text-muted">V: We pray O Lord</p>
               <p class="text-muted">R: For the grace of hope.</p>
               <p></p>
               <p class="text-muted">3. THE DESCENT OF THE HOLY SPIRIT ON THE APOSTLES:</p>
               <p class="text-muted">Meditation: Contemplate on this mystery how Our Lord Jesus Christ being seated at the right hand of God sent as he had promised the Holy Spirit upon His apostles who after the ascension returned in Jerusalem and continued in prayer and supplication with the Blessed Virgin Mary looking towards to the Lord’s promise. (Acts 2:1-4)</p>
               <p class="text-muted">V: We pray O Lord</p>
               <p class="text-muted">R: For the grace of love.</p>
               <p>4. THE ASSUMPTION OF THE BLESSED VIRGIN MARY INTO HEAVEN:</p>
               <p class="text-muted">Meditation: Contemplate on this mystery how the glorious Virgin Mary, twelve years after the resurrection of her son passed out of this world and was assumed into heaven body and soul, accompanied by the angels. (Cf. Gen. 3:15; Luke 1:28).</p>
               <p class="text-muted">V: We pray O Lord</p>
               <p class="text-muted">R: For the grace of thoughts over the Immaculate Heart of Mary.</p>
               <p>5. THE CORONATION</p>
               <p class="text-muted">Mary was crowned to be the Queen of Angels and of ours forever.
                Meditation: Contemplate on this mystery how the glorious Virgin Mary was in great jubilation and exaltation of the whole court of heaven, crowned with the brightest diamond of glory and how all the saints rejoiced with her in happiness.</p>
               <p class="text-muted">V: We pray O Lord</p>
               <p class="text-muted">R: For the grace perseverance. </p>

           </div>
           <hr class="my-4">
            <div class="col-12">
                <p style="font-size: 30px" class="display-4">At the end of the Rosary follows:</p>
                <p>HAIL HOLY QUEEN</p>
               <p class="text-muted">Hail Holy Queen, mother of mercy, our life, our sweetness, and our hope. To thee do we cry, poor banished children of Eve. To thee do we send up our sighs mourning and weeping in this valley of tears. Turn then, most gracious advocate, thine eyes of mercy toward us, and after this our exile show us the blessed fruit of thy womb, Jesus. O clement, O loving, O sweet Virgin Mary.</p>
               <p class="text-muted">V: Pray for us, O Holy Mother of God.</p>
               <p class="text-muted">R: That we may be made worthy of the promises of Christ.</p>
               <p >LET US PRAY (EVERYBODY)</p>
               <p class="text-muted">O God, whose only begotten Son, by His life, death and resurrection, has purchased for us the reward of eternal salvation, grant we beseech you, that meditating upon these mysteries in the most holy rosary of the Blessed Virgin Mary; we may imitate what they contain and obtain what they promise, through the same Christ our Lord. Amen.</p>
               <p class="text-muted">V: Most Sacred Heart of Jesus  R: Have mercy on us</p>
               <p class="text-muted">V: Immaculate Heart of Mary R: Pray for us</p>
               <p class="text-muted">V: St. Joseph   R: Pray for us</p>
               <p class="text-muted">V: St John the Evangelist      R: Pray for us</p>
               <p class="text-muted">V: St. Louis Maria De Montfort   R: Pray for us</p>
               <p class="text-muted">V: Blessed Francisco and Jacinta   R: Pray for us</p>
               <p>LITANY OF THE BLESSED VIRGIN MARY</p>
               <p class="text-muted">V: Lord, have mercy on us.  R: Lord, have mercy on us.</p>
               <p class="text-muted">V: Christ, have mercy on us.   R: Christ, have mercy on us.</p>
               <p class="text-muted">V: Lord, have mercy on us. R: Lord, have mercy on</p>
               <p class="text-muted">V: Christ, hear us. R: Christ, graciously hear us.</p>
               <p class="text-muted">V: God the Father of Heaven, R: Have mercy on us.</p>
               <p class="text-muted">V: God the Son, Redeemer of the world, R: Have mercy on us.</p>
               <p class="text-muted">V: God the Holy Ghost, R: Have mercy on us.</p>
               <p class="text-muted">V: Holy Trinity, one God, R: Have mercy on us.</p>
               <p class="text-muted">V: Holy Mary, R: pray for us.</p>
               <p class="text-muted">V: Holy Mother of God, R: pray for us.</p>
               <p class="text-muted">V: Holy Virgin of virgins, R: pray for us.</p>
               <p class="text-muted">V: Mother of Christ, R: pray for us.</p>
               <p class="text-muted">V: Mother of divine grace, R: pray for us.</p>
               <p class="text-muted">V: Mother most pure, R: pray for us.</p>
               <p class="text-muted">V: Mother most chaste, R: pray for us.</p>
               <p class="text-muted">V: Mother inviolate, R: pray for us.</p>
               <p class="text-muted">V: Mother undefiled, R: pray for us.</p>
               <p class="text-muted">V: Mother most amiable, R: pray for us.</p>
               <p class="text-muted">V: Mother most admirable, R: pray for us.</p>
               <p class="text-muted">V: Mother of good counsel, R: pray for us.</p>
               <p class="text-muted">V: Mother of our Creator, R: pray for us.</p>
               <p class="text-muted">V: Mother of our Savior, R: pray for us.</p>
               <p class="text-muted">V: Virgin most prudent, R: pray for us.</p>
               <p class="text-muted">V: Virgin most venerable, R: pray for us.</p>
               <p class="text-muted">V: Virgin most renowned, R: pray for us.</p>
               <p class="text-muted">V: Virgin most powerful, R: pray for us.</p>
               <p class="text-muted">V: Virgin most merciful, R: pray for us.</p>
               <p class="text-muted">V: Virgin most faithful, R: pray for us.</p>
               <p class="text-muted">V: Mirror of justice, R: pray for us.</p>
               <p class="text-muted">V: Seat of wisdom, R: pray for us.</p>
               <p class="text-muted">V: Cause of our joy, R: pray for us.</p>
               <p class="text-muted">V: Spiritual vessel, R: pray for us.</p>
               <p class="text-muted">V: Vessel of honor, R: pray for us.</p>
                <p class="text-muted">V: Singular vessel of devotion, R: pray for us.</p>
               <p class="text-muted">V: Mystical rose, R: pray for us.</p>
               <p class="text-muted">V: Tower of David, R: pray for us.</p>
               <p class="text-muted">V: Tower of ivory, R: pray for us.</p>
               <p class="text-muted">V: House of gold, R: pray for us.</p>
               <p class="text-muted">V: Ark of the Covenant, R: pray for us.</p>
               <p class="text-muted">V: Gate of Heaven, R: pray for us.</p>
               <p class="text-muted">V: Morning star, R: pray for us.</p>
               <p class="text-muted">V: Health of the sick, R: pray for us.</p>
               <p class="text-muted">V: Refuge of sinners, R: pray for us.</p>
               <p class="text-muted">V: Comforter of the afflicted, R: pray for us.</p>
               <p class="text-muted">V: Help of Christians, R: pray for us.</p>
               <p class="text-muted">V: Queen of angels, R: pray for us.</p>
               <p class="text-muted">V: Queen of patriarchs, R: pray for us.</p>
               <p class="text-muted">V: Queen of prophets, R: pray for us.</p>
               <p class="text-muted">V: Queen of apostles, R: pray for us.</p>
               <p class="text-muted">V: Queen of martyrs, R: pray for us.</p>
               <p class="text-muted">V: Queen of confessors, R: pray for us.</p>
               <p class="text-muted">V: Queen of virgins, R: pray for us.</p>
               <p class="text-muted">V: Queen of all saints, R: pray for us.</p>
               <p class="text-muted">V: Queen conceived without Original Sin, R: pray for us.</p>
               <p class="text-muted">V: Queen assumed into Heaven, R: pray for us.</p>
               <p class="text-muted">V: Queen of the most holy Rosary, R: pray for us.</p>
               <p class="text-muted">V: Queen of peace, R: pray for us.</p>
               <p class="text-muted">V: Lamb of God, who takes away the sins of the world, R: Spare us, O Lord.</p>
                <p class="text-muted">V: Lamb of God, who takes away the sins of the world, R: Graciously hear us, O Lord.</p>
                <p class="text-muted">V: Lamb of God, who takes away the sins of the world, R: Have mercy on us.</p>
                <p class="text-muted">V: Pray for us, O Holy Mother of God</p>
                <p class="text-muted">R: That we may be made worthy of the promises of Christ.</p>
                <p>LET US PRAY</p>
                <p class="text-muted">Grant, we beseech Thee, O Lord God, that we Thy Servants may enjoy unfailing health of mind and body and through the prayers of the Blessed Virgin Mary in Her glory free us from our sorrow in this world and give us eternal happiness in the next; through Christ Our Lord. Amen.</p>
                <p>CATENA (All Stands)</p>
                <p class="text-muted">V: Who is she</p>
                <p class="text-muted">R: That comes forth as the morning rising, fair as the moon, bright as the sun, terrible as an army set in battle array</p>
                <p class="text-muted">V: My soul glorifies the Lord</p>
                <p class="text-muted">R: My spirit rejoices in the Lord, my Savior.</p>
                <p class="text-muted">V: He looks on His servant in her loneliness;</p>
                <p class="text-muted">R: Henceforth all ages shall call me blessed.</p>
                <p class="text-muted">V: The Almighty works marvel for me,</p>
                <p class="text-muted">R: Holy is His name!</p>
                <p class="text-muted">V: His mercy is from age to age,</p>
                <p class="text-muted">R: On those who fear Him.</p>
                <p class="text-muted">V: He puts forth his arm in strength,</p>
                <p class="text-muted">R: And scattered the proud hearted.</p>
                <p class="text-muted">V: He casts the mighty from their thrones</p>
                <p class="text-muted">R: And raises the lowly.</p>
                <p class="text-muted">V: He fills the starving with good things.</p>
                <p class="text-muted">R: Sends the rich away empty.</p>
                <p class="text-muted">V: He has received Israel his servant being mindful of his mercy</p>
                <p class="text-muted">R: The mercy promised to our fathers, to Abraham and His sons forever.</p>
                <p class="text-muted">V: Glory be to the Father, and to the Son, and to the Holy Spirit,</p>
                <p class="text-muted">R: As it was in the beginning is now, and ever shall be, world without end. Amen.</p>
                <p class="text-muted">V: Who is she</p>
                <p class="text-muted">R: That comes forth as the morning rising, fair as the moon, bright as the, terrible as an army set in battle array</p>
                <p class="text-muted">V: O Mary conceived without original sin</p>
                <p class="text-muted">R: Pray for us who have recourse to you.</p>
                <p>LET US PRAY:</p>
                <p class="text-muted">O Lord Jesus Christ, our mediator with the Father, who has been pleased to appoint the most Blessed Virgin, your mother to be our mother also and our mediatrix with you, mercifully grant that whosoever comes to you, seeking your favor may rejoice to receive all of them through her. Amen. <b>(All Kneel)</b></p>
                <p class="text-muted">V: Mary Immaculate, mediatrix of all graces R: Pray for us</p>
                <p class="text-muted">V: Saints Michael and Gabriel. R: Pray for us</p>
                <p class="text-muted">V: Saint John the Baptist R: Pray for us</p>
                <p class="text-muted">V: All ye heavenly powers, Mary’s Legion of Angels R: Pray for us</p>
                <p class="text-muted">V: Saints Peter and Paul R: Pray for us</p>
                <p class="text-muted">V: Blessed Francisco and Jacinta R: Pray for us</p>
                <p>LET US PRAY (All)</p>
                <p class="text-muted">Confer, O Lord on us, who serve beneath the standard of Mary,
                    that fullness of faith in you and trust in her, to which it is given to conquer the world,
                    grant us a lively faith, animated by charity which will enable us to perform all our actions from the motive of pure love of you, and ever to see you and serve you in our neighbors. A faith,
                    firm and immovable as a rock, through which we shall rest tranquil and steadfast amid the crosses, toils and disappointment of life.
                    A courageous faith which will inspires us to undertake and carry out without hesitation,
                    great things for God and the salvation of our souls. A faith which will be our Rosary Crusade’s pillar of fire,
                    to lead us forth united, to rekindle everywhere the fire of your Divine love, to enlighten those who are in darkness and in the shadow of death, to inflame those who are lukewarm, to bring back to life those who are dead in sin,
                    and which will guide our own feet in the way of peace. So that when the battle of life is over, our Rosary Crusaders may assemble,
                    without the loss of anyone, in the kingdom of your love and glory. Amen.</p>
                <p class="text-muted">V: May the souls of our departed crusaders and the souls of the faithful departed,</p>
                <p class="text-muted">R: Through the mercy of God, rest in peace. Amen.</p>
                <p>PRAYER TO ST. MICHAEL THE ARCHANGEL (All)</p>
                <p class="text-muted">Defend us in the day of battle, St. Michael the archangel. Be our safeguard against the wickedness and snares of the devil. May God rebuke him, we humbly pray;
                    and do thou O prince of the heavenly Host, by the power of God, cast into hell, Satan and all the other evil spirits who prowl through the world for the ruin of souls. Amen.</p>
                <p >PRAYER OF THE INTERCESSION (Some silence is observed)</p>
                <p>ACT OF CONSECRATION TO THE BLESSED VIRGIN MARY (All)</p>
                <p class="text-muted">O Holy Mary my mother, I offer myself, soul and body to your blessed protection,
                    so that you would take care of them. In your kindness watch over them this day, and every day of my life and especially at the hour of my death. In your hands I place all my hope and comfort, my sufferings and my needs, all the days of my life. At the end, I am confident that by your holy intercession and merit,
                    all my actions will be in accordance with the will of your son. Amen.</p>
                <p>PRAYER FOR A HAPPY DEATH:</p>
                <p class="text-muted">V: Jesus, Mary and Joseph, R: I give you my heart and my soul.</p>
                <p class="text-muted">V: Jesus, Mar Mary and Joseph, R: Assist me in my last agony</p>
                <p class="text-muted">V: Jesus, Mar Mary and Joseph, R: May I breathe forth my soul in peace with you.</p>
                <p>THE MEMORARE</p>
                <p class="text-muted">Remember, O most loving Virgin Mary; that never was it known that anyone who fled to your protection, implored your aid and sought your intercession, was left unaided. Inspired by this confidence,
                    I fly unto you O Virgin of virgins my mother; to you I come, before you I stand, sinful and sorrowful. O mother of the word incarnate, despise not my petitions,
                    but in your mercy hear and answer me. Amen.</p>
                <p>PRAYER TO THE GUARDIAN ANGEL</p>
                <p class="text-muted">V: O my beloved angel</p>
                <p class="text-muted">R: Be with me always to lead, and guard me.</p>
                <p>THE ANGEL’S PRAYER (PRAYER TAUGHT BY THE ANGEL TO THE THREE CHILDREN OF FATIMA IN THE YEAR 1916); BOW YOUR HEAD (ALL).</p>
                <p class="text-muted">My God, I believe in you, I adore you, I hope in you and I love you, I ask pardon for those who do not believe, who do not adore, who do not hope and who do not love you. (3 times)</p>
                <p class="text-muted"><b>MOST HOLY TRINITY:</b> Father, Son and Holy Spirit, I adore you profoundly, I offer you the most precious body,
                    blood, soul and divinity of our Lord Jesus Christ, present in all the tabernacles of the world, in reparation for the outrages, sacrileges and indifferences by which He is offended. By the infinite merit of the Sacred Heart of Jesus and the Immaculate Heart of Mary,
                    I beg of you for the conversion of all sinners. Amen.</p>
                <p>WE FLY TO YOUR PATRONAGE: (All)</p>
                <p class="text-muted">O Holy mother of God despise not our petitions in our necessities, but deliver us from all dangers, O ever glorious and Blessed Virgin Mary. Amen.</p>
                <p>(Sing a hymn from the book)</p>
                <p>CONCLUDING PRAYERS:</p>
                <p class="text-muted">V: In the name of the Father</p>
                <p class="text-muted">R: And of the Son and of the Holy Spirit. Amen.</p>
           </div>
       </div>

</section>
 {% endblock %}

