 {% extends 'alvan/layout.html' %}
 {% load static %}
 {% block content %}
 <section class="bg-light page-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="section-heading text-uppercase mx-auto" style="font-family: Courier">cwo</h1>
            <p class="text-center text-capitalize text-muted">MOTTO:  </p>
        </div>
      </div>
        <hr>
        <h3 class="display-4 text-center text-uppercase"> executives</h3>
        <hr>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'img/host.jpg' %}" alt="">
            <h4>Rev. Fr. Gilbert Alaribe</h4>
            <p class="text-muted">Chaplain</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'img/host.jpg' %}" alt="">
            <h4>Rev. Fr. Gilbert Alaribe</h4>
            <p class="text-muted">Chaplain</p>
          </div>
        </div>
         <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'img/host.jpg' %}" alt="">
            <h4>Rev. Fr. Gilbert Alaribe</h4>
            <p class="text-muted">Chaplain</p>
          </div>
        </div>
      </div>
        <div class="row">
            <div class="col-6">
                <p class="text-capitalize">st mary members</p>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
            </div>
            <div class="col-6">
                <p class="text-capitalize">st elizabeth members</p>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
            </div>
            <div class="col-6">
                <p class="text-capitalize">st theresa members</p>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>

            </div>
            <div class="col-6">
                <p class="text-capitalize">st ann members</p>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>

            </div>
        </div>

</section>
 {% endblock %}

