{% extends 'alvan/layout.html' %}
{% block content %}
    <br>
    <br>
    <h2 class="display-4 text-center text-capitalize"></h2>
    <div class="container text-center text-capitalize" style="font-family: 'Times New Roman'">
        <p>{{ form.date }}</p>
        <p>{{ form.title }}</p>
        <p>{{ form.entrace_antiphon }}</p>
        <p>{{ form.opening_prayers }}</p>
        <p>{{ form.first_reading }}</p>
        <p>{{ form.responsorial_psalm }}</p>
        <p>{{ form.second_reading }}</p>
        <p>{{ form.gospel_acclamation }}</p>
        <p>{{ form.gospel }}</p>
        <p>{{ form.prayer_over_the_offerings }}</p>
        <p>{{ form.communion_antiphon }}</p>
        <p>{{ form.prayer_after_communion }}</p>
    </div>

{% endblock %}
<br>